$customRed1: rgb(175, 35, 55);
$customRed2: rgb(189, 38, 60);
$customRed3: rgb(154, 17, 41);
$customRed4: rgb(217, 43, 5);
$customRed5: rgb(177, 33, 1);
$customGold1: rgb(240, 194, 43);
$customGold2: #ffd00b;
$customGold3: #d4af37;
$customBeige1: rgb(255, 247, 236);
$customBeige2: rgb(199, 182, 147);
$customBeige3: rgb(235, 211, 181);
$customBeige4: rgb(237, 219, 182);
$customBeige5: rgb(203, 183, 142);
$customBeige6: rgb(180, 160, 119);
$customBeige7: rgb(161, 143, 105);
$customBeige8: rgb(241, 225, 195);
$customBeige9: rgb(106, 94, 68);
$customWhite1: rgb(247, 244, 242);
$customWhite2: rgb(216, 216, 216);
$customWhite3: rgb(156, 156, 156);
$customBrown1: rgb(121, 43, 19);

$breakpoint-small: 990px;
